* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body {
    background: salmon;
    margin: 0px;
    padding: 0px;
}
header {
   
}
main {
    text-align: center;
    padding: 50px;

}
footer {
    text-align: center;

}

.span {
  font-size: 40px;
  font-weight: 200;
}

.links{
    text-align: right;
    
}
.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(226, 138, 238);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgb(217, 112, 221);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

form {
    border: 4px solid #4e4e4e;
  }
  

  .container {
    padding: 20px;
    background-color: #f1f1f1;
  }
  
  
  input[type=text], input[type=submit] {
    
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  
  input[type=checkbox] {
    margin-top: 16px;
  }
  nav {
    background: pink;
      width: 100%;
      position: fixed;
     }
 
  }

  ul {
   text-align: right;   
  }
  nav li {
      list-style-type: none;
      display: inline;
      padding: 20px;
  }

